@import "tailwindcss"; /* Importa le direttive di Tailwind CSS */

/* Custom scrollbar for modale info campo */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #34d399 #0b0f14;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #34d399 40%, #2563eb 100%);
  border-radius: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #0b0f14;
  border-radius: 8px;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

* {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}
